<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockgarden.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activitys.LoadingActivity"
            android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.DEFAULT" /></intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>

        <activity android:name=".BaseActivity" />

        <activity
            android:name=".activitys.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity"/>

        <activity
            android:name=".activitys.PublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity" />

    </application>

</manifest>
